<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body style="background-color: #8c8273;">
<div class="container" style="padding-top: 5em; filter: drop-shadow(8px 8px 4px black);">
    <div class="jumbotron">
        <h1 class="display-4">Homepage</h1>
        <p class="lead">We out here.</p>
        <nav th:replace="fragments :: navigation"></nav>
        <hr class="my-4">
        <p>Additional body content</p>
    </div>
</div>
</body>
</html>